<div class="main">
    <div class="container about">
        <div class="row">
            <div class="col-md-6">
                <img src="https://scontent-yyz1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/11760163_10100341039855674_216083938685057115_n.jpg?oh=6fb4615d1c2d784e667c13b024b703c2&oe=578BD492" width="60%">
            </div>
            <div class="col-md-6">
                <p>I am a Montreal-based visual artist and I am currently learning to code via online tutorials. This website was created with Ruby on Rails. The slideshow in the portfolio page was created using a jQuery-based slider called <a href="http://unslider.com/" target="_blank">Unslider</a>. The inital setup for this site was based on the Portfolio Project in the Ruby on Rails section on <a href="https://www.codecademy.com" target="_blank">Codecademy</a>. For the blog section, I wanted to expand on my newfound knowledge of models and controllers by building a blog from scratch. To do this, I followed two very helpful tutorials found <a href="http://tutorials.jumpstartlab.com/projects/blogger.html" target="_blank">here</a> and <a href="https://www.youtube.com/watch?v=BI_VnnOLSKY" target="_blank">here</a>. After learning some more Ruby on Rails, I'd like to focus on jQuery and move on to using other JavaScript libraries like Node.js and Angular.js. </p>
            </div>
            
        </div>
    </div>
</div>