<div class="main">
        <div class="banner-holder">
            <div class="unslider">
                <div class="banner unslider-horizontal" style="position: relative; overflow: auto;">
                    <ul class="unslider-wrap">
                        <li><img src="https://farm2.staticflickr.com/1700/24865559595_215d44165d_b.jpg"style= "width: 100%; height: 60%;"/></li>
                        <li><img src="https://farm2.staticflickr.com/1619/24747663792_6372a0bfcd_b.jpg" style= "width: 100%; height: 60%; float: left;"/></li>
                        <li><img src="https://farm2.staticflickr.com/1443/24497967909_9cbb7f206d_b.jpg" style= "width: 100%; height: 60%; float: left;"/></li>
                    </ul>
                </div>
            </div>
       </div>
</div>
<div class="supporting">
    <div class="container">
        <div class="row">
            <div class="container">
            <div class="col-md-6">
                <img src="https://farm2.staticflickr.com/1559/24896365951_76f3877108.jpg"/>
            </div>
            <div class="col-md-6">
                <img src="https://farm2.staticflickr.com/1684/24362812073_8b01675c59.jpg"/>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
            <div class="col-md-6">
                <img src="https://farm2.staticflickr.com/1502/24871672192_0ded7bc240.jpg"/>
            </div>
            <div class="col-md-6">
                <img src="https://farm2.staticflickr.com/1454/24871671552_1a4ed6555c.jpg"/>
            </div>
            </div>
        </div>
    </div>
</div>