
<div class="main">
  <div class="jumbotron">
    <div class="container">
      <h1>Hello. My name is <span class="highlight">Sarina Rahman</span> and I draw things and build websites.</h1>
      
      <%= link_to 'View my work', portfolio_path, :class => "btn-lg" %>
    </div>
  </div>
</div>
