<div>
  <h4 class="commenter"><%= comment.author_name %></h4>
  <p><%= simple_format(comment.body, class: "comment") %></p>
  <%= button_to "delete", [comment.post, comment], method: :delete, class: "links" %>
</div>
