// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main .comment {
    text-align: justify;
    float: none;
}

.commenter {
    color: #336B33;
    font-weight: 500;
    margin-bottom: 0px;
}