// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* blog styling */

.blog {
    margin-bottom: 40px;
    width: 78%;
    margin-right: auto;
    margin-left: auto;
    min-height: 400px;
}

.eachpost {
    border-bottom: 1px solid #123a12;
}
.main .blog .blogtitle h1, .main .blog .blogtitle h1 a {
    font-size: 40px;
    text-align: left;
    margin-top: 7px;
    padding-top: 35px;
    float: none;
}

.main .blog .blogtitle h1 a:hover {
    color: rgba(255,255,255,0.5);
    background-color: transparent;
}

.blogtitle .date, .blogbody .date {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    font-style: italic; 
}

.blogtitle .date {
    padding-top: 50px;
    padding-right: 5px; 
}

.blogbody {
    padding-bottom: 10px;
    //border-bottom: 1px solid #123a12;
}


.blogbody p {
    text-align: justify;
    float: none;
}

.main .blog form p {
    float: none;
     
}

/*buttons and links styling */
.button-breather {
    margin-bottom: 30px;  
    margin-top: 10px;  
}

.newpost {
    
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #d8f3d8;
    border: 2px solid #123a12;
    
}

.main .allposts-btn {
    float: none;
}



.button_to {
    display: inline;
}

.links, .main .links {
    background-color: #061306;
    border: none;
    font-weight: 100;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    float: none;
}

.links:hover, .main .blog .blogbody a:hover {
    color: #123a12;
    background-color: transparent; 
    transition: none;
      
}

/* new post form styling */
.blog form {
    padding-top: 30px;
}
.inside {
    color: #d8f3d8;
    border-radius: 6px;
    border: 2px solid #123a12;
    padding: 7px;
    margin: auto;
    width: 100%;
    resize: none;
    background-color: #061306;
}

.inside:focus {
    background-color: #fff;
    color: #123a12;
}

.body-inside {
    min-height: 150px;
}


/* responsiveness/mobile styling */
@media (max-width: 500px), (max-device-width: 480px) {
    .blog {
        width: 85%;
    }
    .blogtitle h1 {
        padding-bottom: 3px;
    }
    .main .newpost {
        
        float: none;
    }
    .button-breather {
        text-align: center;
        margin-bottom: 0px;
        margin-top: 22px;
    }
}

@media (max-width: 992px), (max-device-width: 992px) {
    .blogtitle .date {
        padding-top: 5px;
        text-align: left;
        float: none;
        margin: none;
    }
    .blogtitle h1 {
        padding-bottom: 3px;
    }
}