// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* blog styling */

.blog {
    margin-bottom: 40px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    min-height: 400px;
}

.blogtitle h1, .blogbody p {
    //margin-bottom: 30px;
    //text-align: left;
}

form {
    float: none; 
     
}


.newpost {
    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #d8f3d8;
    border: 2px solid #123a12;
    
}

.newpost:hover {
    /*border: 2px solid #061306;
    transition: border 0.5s;*/
}